body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

figure {
  
}

a {
  padding: 10px;
  background:grey;
}

#featured-property p {
  width: 800px;
  text-align: center;
}

#details div {
  display: block;
  float: left;
  background: red;
  text-align: center;
  width: 25%;
}